.container {
    height: 100%;
}

.chat-alert {
    align-content: center;
}

.chat {
    max-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

@media (max-width: 500px) {
    .chat {
        max-height: calc(100vh - 150px);
        height: calc(100vh - 150px);
        overflow-y: scroll;
    }
}

.msg-o {
    max-width: 80%;
    background-color: lightblue;
}

.msg-y {
    max-width: 80%;
    background-color: lightgreen;
    margin-left: auto;
    text-align: right;
    margin-right: 0;
}

.message {
    word-wrap: break-word;
}

.msg-o .time {
    float: right;
}

.msg-y .time {
    float: left;
}

.time {
    color: dimgrey;
}

/*
.chat-input{
    position: fixed;
    bottom: 0;
    width: vmax;
}
*/