.container {
    height: 100%;
}

.chat-alert {
    align-content: center;
}

.chat {
    max-height: calc(100vh - 150px);
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.image-o {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.image-y {
    display: inline-block;
    float: right;
    text-align: right;
    max-width: 100%;
    height: auto;
}

.image-o .time {
    align-self: right;
}

.image-y .time {
    float: left;
}

.message-o {
    display: inline-block;
    max-width: 80%;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}

.message-y {
    display: inline-block;
    float: right;
    max-width: 80%;
    background-color: lightgreen;
    text-align: right;
    border-radius: 5px;
    padding: 5px;
}

.message {
    word-wrap: break-word;
}

.message-o .time {
    float: right;
}

.message-y .time {
    float: left;
}

.time {
    color: dimgrey;
}

/*
.chat-input{
    position: fixed;
    bottom: 0;
    width: vmax;
}
*/